{%extends "layout.html"%}

{%block title%}
Dashboard
{%endblock%}

{%block content%}
<div class="dashboard text-center">

    <h1 class="display-4">Welcome, {{name}}</h1>
    <div class="d-flex justify-content-center">

        <a href="{{url_for('project_form')}}" class=" btn btn-outline-light" role="button"
            style="transform: translateY(30px);">Create
            Project Report</a>



    </div>
    <h2 class="display-6 "
        style="text-align:center;margin-top:90px;text-decoration: underline;text-decoration-thickness: 1.5px;">
        Completed Projects</h2>
</div>


<div class="project-card-container">

    {% for project in projects%}
    <div class="project-card">




        <h5 class="project-title">
            {{project["title"]}}
        </h5>

        <p class="project-date">
            {{project["date"]}}
        </p>

        <div class="project-buttons">

            <a href="{{ url_for('preview', project_id=project['project_id']) }}" class="project-btn">
                View
            </a>

            <a href="{{ url_for('edit', project_id=project['project_id']) }}" class="project-btn">
                Edit
            </a>


            <button type="button" class="project-btn delete-btn" data-bs-toggle="modal"
                data-bs-target="#delete{{ project['project_id'] }}">
                Delete
            </button>

            <div class="modal fade" id="delete{{ project['project_id'] }}" tabindex="-1">

                <div class="modal-dialog modal-dialog-centered">

                    <div class="modal-content confirmation-modal">

                        <div class="modal-body">
                            Delete this project?
                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">
                                Cancel
                            </button>

                            <form method="POST" action="{{ url_for('delete', project_id=project['project_id']) }}">

                                <button type="submit" class="btn btn-generate">
                                    Delete
                                </button>

                            </form>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
    {%endfor%}
</div>




{%endblock%}