{% set show_dashboard = true %}
{%extends "layout.html"%}
{%block title%}
Preview
{%endblock%}

{%block content%}


<div class="preview-body">


    <div class="preview-container" id="previewContent">


        <div class="preview-title">
            Project Details Preview
        </div>


        <!-- BASIC INFORMATION -->

        <div class="preview-section">

            <h2>Basic Information</h2>


            <div class="detail">

                <div class="detail-title">
                    Project Title
                </div>

                <div class="detail-content">
                    {{title}}
                </div>

            </div>


            <div class="detail">

                <div class="detail-title">
                    Student Name
                </div>

                <div class="detail-content">
                    {{name}}
                </div>

            </div>


            <div class="detail">

                <div class="detail-title">
                    Department / Course
                </div>

                <div class="detail-content">
                    {{dept}}
                </div>

            </div>

        </div>


        <!-- ABSTRACT -->

        <div class="preview-section">

            <h2>Abstract</h2>

            <div class="detail-content">
                {{abstract}}
            </div>

        </div>


        <!-- PROJECT DESCRIPTION -->

        <div class="preview-section">

            <h2>Project Description</h2>

            <div class="detail-content">
                {{description}}
            </div>

        </div>


        <!-- PROJECT MODULES -->

        <div class="preview-section">

            <h2>Project Modules</h2>

            <div class="detail">
                {%for module in modules%}
                <div class="detail-title">
                    {{loop.index}}. {{module.name}}
                </div>
                <div class="detail-content">
                    {{module.description}}
                </div>
                {%endfor%}


            </div>
        </div>


        <!-- LITERATURE SURVEY -->

        <div class="preview-section">

            <h2>Literature Survey</h2>

            <div class="detail-content">
                {{survey}}
            </div>

        </div>


        <!-- OTHER PROJECT DETAILS -->

        <div class="preview-section">

            <h2>Other Project Details</h2>


            <div class="detail">

                <div class="detail-title">
                    Technologies Used
                </div>

                <div class="detail-content">
                    {{technologies}}
                </div>

            </div>


            <div class="detail">

                <div class="detail-title">
                    Project Duration
                </div>

                <div class="detail-content">
                    {{duration}}
                </div>

            </div>


            <div class="detail">

                <div class="detail-title">
                    Additional Details
                </div>

                <div class="detail-content">
                    {{additional}}
                </div>

            </div>

        </div>


        <!-- BUTTONS -->

        <div class="button-container">
            {%if not existing_project%}
            <a href="{{ url_for('project_form',edit=1) }}"
                class="btn btn-outline-light d-flex align-items-center justify-content-center">
                Edit Project
            </a>
            {%endif%}



            {% if existing_project %}

            {% if editing %}
            <a href="{{ url_for('edit', project_id=project_id) }}"
                class="btn btn-outline-light d-flex align-items-center justify-content-center">
                Go Back
            </a>

            {% else %}
            <a href="{{ url_for('dashboard') }}"
                class="btn btn-outline-light d-flex align-items-center justify-content-center">
                Go Back
            </a>
            {% endif %}
            {%endif%}






            <!-- Button trigger modal -->

            {%if not existing_project or editing%}
            <button type="button" class="btn btn-generate" data-bs-toggle="modal" data-bs-target="#confirmation">
                Confirm
            </button>
            {%endif%}
            <!-- Modal -->
            <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered">

                    <div class="modal-content confirmation-modal">

                        <div class="modal-body">
                            {% if existing_project %}
                            Submit Changes?
                            {% else %}
                            Generate PDF?
                            {% endif %}
                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
                                Cancel
                            </button>

                            <form id="confirm_form" method="POST" action="{{ url_for('confirm') }}"
                                target="pdfDownloadFrame">
                                <button type="submit" class="btn btn-generate">
                                    {% if existing_project %}
                                    Yes
                                    {% else %}
                                    Generate PDF
                                    {% endif %}
                                </button>
                            </form>
                            <iframe name="pdfDownloadFrame" style="display: none;"></iframe>

                        </div>

                    </div>
                </div>
            </div>







        </div>









    </div>
</div>
{%endblock%}