{%extends "layout.html"%}

{%block title%}
Register
{%endblock%}

{%block content%}

<h1>Register</h1>
<form method="POST">
    <div class="mb-3">
        <input type="email" placeholder="Email" name="email" value="{{email}}">
    </div>
    <div class="mb-3">
        <input type="password" placeholder="Password" name="password" value="{{password}}">
    </div>
    <div class="mb-3">
        <input type="password" placeholder="Confirm" name="confirm">
    </div>

    <button class="btn btn-primary" type="submit">Register</button>

</form>


{%endblock%}